[submodule "gatech-swapr-server-node"]
	path = gatech-swapr-server-node
	url = git@github.com:GatechVIP/gatech-swapr-server-node.git
[submodule "gatech-swapr-client"]
	path = gatech-swapr-client
	url = git@github.com:GatechVIP/gatech-swapr-client.git
