[submodule "gatech-swapr-server-node"]
	path = gatech-swapr-server-node
	url = git@github.com:GatechVIP/gatech-swapr-server-node.git
[submodule "docs"]
	path = docs
	url = git@github.com:GatechVIP/gatech-swapr-provisioning.wiki.git
[submodule "swapr-react-client"]
	path = swapr-react-client
	url = git@github.com:GatechVIP/swapr-react-client.git
